streamlit==1.26.0
streamlit-chat==0.0.2.1
openai==0.28.0
neo4j==5.5.0
altair==4.2.2
langchain
langchain_community
PyPDF2
langchain_text_splitter
langchain_embeddings
langchain_vectorstore
langchain_chat_models
langchain_memory
langchain_chains
langchain_llms
python-dotenv
spacy
unstructured
libclang
clang
